<div class="container travel_event" data-directions="<%= @travel_event.data.to_json %>">
  <div>
    <%= @travel_event.origin %> To <%= @travel_event.destination %>
  </div>
  <div>
    Estimated travel time: <%= @travel_event.duration %>
  </div>
  <div id="map">
  </div>
</div>