.navigation {
  border-radius: 5px;
  text-align: center;
  padding: 2px;
  border-bottom: solid 2px #EEE;

  a {
    text-decoration: none;
  }

  .nav-middle {
    font-size: 30px;
  }

  .nav-button {
    padding-top: 27px;
  }
}