//= require_self
//

$brand-primary: #29deb4;
$link-color: darken($brand-primary, 10%);

@import 'modules/*',
        'bootstrap',
        'tempusdominus-bootstrap-4.css',
        'font-awesome';

.alert {
  color: white;
  padding: 5px;
  margin: 10px;
}

.alert-notice {
  background-color: green;
}

.alert-alert {
  background-color: red;
}