<div class="container plans-list">
  <% @plans.each do |plan| %>
    <div class="row plan">
      <div class="col-md">
        <%= render 'details', plan: plan %>
        <div class="actions float-sm-right">
          <%= link_to t('crud.edit'), edit_plan_path(plan), class: 'btn btn-primary' %>
          <%= link_to t('crud.delete'), plan_path(plan), method: :delete, class: 'btn btn-danger', data: { confirm: t('crud.confirm') } %>
        </div>
      </div>
    </div>
  <% end %>
</div>